<div>
  <%= flash[:notice] %>
</div>

<h1>仮User info#edit</h1>

<%= image_tag @user.get_profile_image(100,100) %>
<%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>

  <p>Name</p>
  <%= f.text_field :name %>
  <p>Profile Image</p>
  <%= f.file_field :profile_image, accept: "image/*" %>

  <p>Introduction</p>
  <%= f.text_area :introduction %>
  <p><%= f.submit 'Update User', class: "btn btn-secondary"  %></p>
<% end %>