<div>
  <%= flash[:notice] %>
</div>
<div class="container"> 
  <div class="row" style="background-color: #b6e7ff ;">
     <div class="col-md-3" style="background-color: orange;">
        <%= render 'books/list', books: @books, user: current_user %>
        <%= render 'books/new', book_new: @book %>
     </div>

     <div class="col-md-8 offset-md-1" style="background-color: #ff00ff ;">
      <h1>Users</h1>
      <div>
        <% @users.each do |user| %>
        <table class="table table-striped">
         <th> 
           <%= link_to user_path(user.id) do %>
             <%= image_tag user.get_profile_image(100,100) %>
           <% end %>
           <p>name: <%= user.name %></p>
         </th>

         <th>
           <td><%= user.name %></td>
           <td><%= user.introduction %></td>
         </th>
         <th>
          <%= link_to "Show" , user_path(user.id), class: "btn btn-secondary"  %>
         </th>
       </table>
       <% end %>
      </div>

  </div>
</div>



