<!-- ユーザーの投稿一覧 -->
<% @books.each do |book| %>
  <div>
        <td> 
          <%= link_to book_path(book.id) do %>
            <%= image_tag book.get_image %>
          <% end %>
          <p>name: <%= book.user.name %></p>
        </td>
        
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to "Edit" , edit_book_path(book.id), class: "btn btn-secondary"  %></td>
        <td>
          <% if book.user.id == current_user.id %>
            <%= link_to "Destroy", book_path(book), method: :delete , class: "btn btn-secondary"  %>
            <% end %>
        </td>
  </div>
 <% end %>