<div>
  <%= flash[:notice] %>
</div>
<div class="container"> 
  <div class="row" style="background-color: #b6e7ff ;">
    <div class="col-md-3" style="background-color: orange;">
      <%= render 'list', books: @books %>
      <%= render 'new', books: @books %>
    </div>

    <div class="col-md-8 offset-md-1" style="background-color: #ff00ff ;">
      <h1>Books#index</h1>
      <div>
        <% @books.each do |book| %>
        <table class="table table-striped">
         <th> 
           <%= link_to book_path(book.id) do %>
             <%= image_tag @user.get_profile_image(100,100) %>
           <% end %>
           <p>name: <%= book.user.name %></p>
         </th>

         <th>
           <td><%= book.title %></td>
           <td><%= book.body %></td>
         </th>
         <th>
           <%= link_to "Edit" , edit_book_path(book.id), class: "btn btn-secondary"  %>
         </th>
         <th>
           <% if book.user.id == current_user.id %>
             <%= link_to "Destroy", book_path(book), method: :delete , class: "btn btn-secondary"  %>
           <% end %>
         </th>
       </table>
       <% end %>
      </div>

    </div>
  </div>
</div>
