<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    
  <tbody>
    <% @books.each do |book| %>
       <div>
          <%= link_to book_path(book.id) do %>
            <%= image_tag book.get_image %>
          <% end %>
          <%= image_tag book.get_image %>
          <p>投稿ユーザー画像：<%= image_tag post_image.user.get_profile_image(100,100) %></p>
          <p>Title：<%= book.title %></p>
          <p>Opinion：<%= book.body %></p>
          <p>ユーザーネーム：<%= book.user.name %></p>
       </div>


    <% end %>
  </tbody>
</table>