<div>
  <%= flash[:notice] %>
</div>

<div class="container"> 
  <div class="row" style="background-color: #b6e7ff ;">
    <div class="col-md-3" style="background-color: orange;">
      
      <h1>User info</h1>
      <div>
          <div>
             <tr>仮ユーザー画像</tr>
             <tr>ユーザーネーム<%= @user.name %></tr>
             <tr>name<%= @user.name %></tr>
             <tr>introduction<%= @user.introduction %></tr>
             <tr>
               <p><%= link_to "Edit" , edit_user_path(@user.id), class: "btn btn-secondary"  %></p>
             </tr>
         </div>
      </div>
      

      <h1>New book</h1>

      <% if @book.errors.any? %>
         <% if @book.errors.count == 1 %>
           <%= @book.errors.count %> error prohibited this obj from being saved:
         <% else %>
           <%= @book.errors.count %> errors prohibited this obj from being saved:
         <% end %>
         <ul>
           <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
          <% end %>
         </ul>
      <% end %>

      <%= form_with model: @book do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <p><%= f.submit 'Create Book', class: "btn btn-secondary" %></p>
      <% end %>
      
    </div>
    
    <div class="col-md-8 offset-md-1" style="background-color: #ff00ff ;">
      <table class="table table-striped">
        <thead>
         <tr>
           <h4>Book detail</h4>
          </tr>
        </thead>
        <tbody>
          <td>
            <%= render 'list', books: @books %> 
          </td>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
